<div class="center jumbotron">
  <h1>Welcome to Phorn Sopheak Blog</h1>

  <h2>
    This Blog allow users to post entry about their feeling and make friend to the world
  </h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn btn-warning" %>
</div>
